<template>
    <template if:true={constants}>
        <div if:false={selectedProposalId} class="proposals-table-container">
            <div class="slds-grid slds-wrap slds-p-around_medium">
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_4-of-12 slds-p-around_x-small" if:true={proposalStageValues}>
                    <template if:true={proposalStageValues.data}>
                        <lightning-combobox 
                            name="proposal-stage"
                            class="proposal-stage"
                            variant={proposalStageLabelVariant}
                            label="Filter"
                            value={proposalStage}
                            placeholder="Proposal Stage"
                            options={proposalStageValues.data.values}
                            onchange={handleProposalStageChange}>
                        </lightning-combobox>
                    </template>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                    <lightning-input 
                        class="search-text" 
                        type="text" 
                        label="Search Proposal"
                        value={searchText}
                        onchange={handleSearchTextOnChange}>
                    </lightning-input>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_4-of-12 slds-p-around_x-small" if:true={rowsPerPageChoices}>
                    <template if:true={rowsPerPageChoices.data}>
                        <lightning-combobox 
                            name="rows-per-page"
                            class="rows-per-page"
                            variant={rowsPerPageLabelVariant}
                            label="Rows per page"
                            value={rowsPerPage}
                            placeholder="Rows per page"
                            options={rowsPerPageChoices.data.values}
                            onchange={handleRowsPerPageChange}>
                        </lightning-combobox>
                    </template>
                </div>
            </div>
            
            <div class="slds-is-relative">
                <lightning-spinner 
                    if:true={isDatatableProcessing} 
                    alternative-text="Loading data..." 
                    variant="brand">
                </lightning-spinner>
            </div>

            <div class="slds-p-around_medium" if:true={proposalStageValues}>
                <template if:true={proposalsData}>
                    <lightning-datatable
                        class="stack-datatable" 
                        onsort={handleSort}
                        sorted-by={sortedField}
                        sorted-direction={sortDirection}
                        hide-checkbox-column="true"
                        key-field="Id"
                        data={proposalsData}
                        columns={proposalColumns}
                        onrowaction={handleSelectRow}
                        column-widths-mode="fixed">
                    </lightning-datatable>
                </template>

                <template if:false={proposalsData}>
                    <div class="text-center alert alert-light ng-star-inserted">No record found.</div>
                </template>
            </div>
        </div>

        <template if:true={selectedProposalId}>
            <c-proposal-details
                constants={constants} 
                proposal-id={selectedProposalId} 
                onclose={handleCloseProposalDetails}>
            </c-proposal-details>
        </template>
    </template>
</template>