* {
    font-family: 'HelveticaNeueLTStd-Lt', 'Helvetica', 'Arial', sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
}

.privacy-info {
    width: 100%;
    padding: 16px;
    margin-bottom: 26px;
    border-radius: 8px;
    background-color: #eeeeee;
    display: flex;
    font-size: 14px;
}

.disclaimer-container {
    display: flex;
}
.disclaimer-check .slds-checkbox_faux {
    width: 30px;
    height: 30px !important;
    border-radius: 6px !important;
    border: solid 1px rgba(4, 8, 32, 0.3) !important;
    margin: 0 !important;
    cursor: pointer;
}
.disclaimer-container .slds-form-element__label {
    display: none !important;
}
.disclaimer-container label {
    top: unset !important;
    left: unset !important;
}
.custom-checkbox {
    margin: 0;
    margin-right: 12px !important;
}

button.sa-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-size: .875rem;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    background-color: #002f5f;
    color: #ffffff;
    display: block;
    padding: 12px 5px;
    text-align: center;
    text-transform: none;
    width: 100%;
}
button.sa-button img {
    margin-top: auto;
    margin-bottom: auto;
}
button .sa-button-text {
    display: block;
    margin: auto;
}

button.sa-button.orange {
    background-color: #ffb500;
    color: #000000;
}
button.sa-button.yellow {
    background-color: #ffe511;
    color: #000000;
}
button.sa-button.blue {
    background-color: #007ac9;
    color: #fff;
}
button.sa-button.navy {
    background-color: #002f5f;
    color: #fff;
}

.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.container input {
    height: 50px !important;
}
.container textarea {
    height: 50px;
}
.container input,
.container textarea {
    border-radius: 6px !important;
    border: solid 1px rgba(4, 8, 32, 0.3) !important;
    font-size: 16px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #040820 !important;
}
.container textarea {
    height: 200px;
}
.container input[readonly][disabled=false] {
    background-color: #ffffff !important;
    color: #040820 !important;
    opacity: 0.7 !important;
}
.container input[type="search"] {
    appearance: none !important;
    -webkit-appearance: none !important;
    box-sizing: border-box !important;
}

.container label {
    background-color: #FFFFFF !important;
    top: 11px !important;
    left: 7px !important;
    position: relative !important;
    z-index: 11 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 12px !important;
    color: #040820 !important;
    padding-top: unset !important;
}
.container .slds-assistive-text {
    background-color: unset !important;
}
.container label abbr {
    display: none;
}
.container .slds-has-error .slds-form-element__help {
    margin-left: 10px;
    margin-top: 6px;
}
.container .slds-has-error label,
.container .slds-has-error .slds-form-element__help {
    color: #c3594a !important;
}
.container .slds-has-error input {
    border: solid 2px #c3594a !important;
    background-clip: unset !important;
    box-shadow: unset !important;
}