<template>
    <div class="slds-clearfix">
        <div class="slds-float_left">
            <h2 class="slds-text-heading_small slds-p-top_small">Review all proposed projects before submitting proposal</h2>
        </div>

        <div class="slds-float_right">
            <lightning-button-icon icon-name="utility:edit" alternative-text="Edit" title="Edit" onclick={handleEdit}></lightning-button-icon>
        </div>
    </div>

    <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
        <template for:each={projects} for:item="project">
            <lightning-accordion-section key={project.Id} name={project.Id} label={project.projectLabel}>
                <div class="slds-grid slds-wrap slds-p-around_small">
                    <c-review-project-form 
                        constants={constants}
                        key={project.Id} 
                        project={project}
                        questions-map={questionsMap}
                        is-edit-mode={isEditMode}>
                    </c-review-project-form>
                </div>
            </lightning-accordion-section>
        </template>
    </lightning-accordion>

    <div class="slds-border_top">
        <h2 class="slds-text-heading_small slds-p-vertical_small">Net Benefit & Consultation</h2>
    </div>

    <!-- Common Fields -->
    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
        <template if:false={isEditMode}>

            <label class="slds-form-element__label">
                {questionsMap.benefitsToAustralianCommunityPublicHealthAndSafetyQuestion}
            </label>

            <label>
                <b>{proposalRecord.Net_Benefit_Public_and_health_safety__c}</b>
            </label>
        </template>

        <template if:true={isEditMode}>
            <lightning-textarea 
                name="Net_Benefit_Public_and_health_safety__c"
                label={questionsMap.benefitsToAustralianCommunityPublicHealthAndSafetyQuestion}
                value={proposalRecord.Net_Benefit_Public_and_health_safety__c}
                onblur={handleProposalInputUpdate}>                            
            </lightning-textarea>
        </template>
    </div>

    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
        <template if:false={isEditMode}>

            <label class="slds-form-element__label">
                {questionsMap.benefitsToAustralianCommunitySocialAndCommunityImpactQuestion}
            </label>

            <label>
                <b>{proposalRecord.Net_Benefit_Social_and_community_impact__c}</b>
            </label>
        </template>

        <template if:true={isEditMode}>
            <lightning-textarea 
                name="Net_Benefit_Social_and_community_impact__c"
                label={questionsMap.benefitsToAustralianCommunitySocialAndCommunityImpactQuestion}
                value={proposalRecord.Net_Benefit_Social_and_community_impact__c}
                onblur={handleProposalInputUpdate}>                            
            </lightning-textarea>
        </template>
    </div>

    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
        <template if:false={isEditMode}>
            <label class="slds-form-element__label">
                {questionsMap.benefitsToAustralianCommunityEnvironmentalImpactQuestion}
            </label>

            <label>
                <b>{proposalRecord.Net_Benefit_Environmental_Impact__c}</b>
            </label>
        </template>

        <template if:true={isEditMode}>
            <lightning-textarea 
                name="Net_Benefit_Environmental_Impact__c"
                label={questionsMap.benefitsToAustralianCommunityEnvironmentalImpactQuestion}
                value={proposalRecord.Net_Benefit_Environmental_Impact__c}
                onblur={handleProposalInputUpdate}>                            
            </lightning-textarea>
        </template>
    </div>

    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
        <template if:false={isEditMode}>
            <label class="slds-form-element__label">
                {questionsMap.benefitsToAustralianCommunityCompetitionQuestion}
            </label>

            <label>
                <b>{proposalRecord.Net_Benefit_Competition__c}</b>
            </label>
        </template>

        <template if:true={isEditMode}>
            <lightning-textarea 
                name="Net_Benefit_Competition__c"
                label={questionsMap.benefitsToAustralianCommunityCompetitionQuestion}
                value={proposalRecord.Net_Benefit_Competition__c}
                onblur={handleProposalInputUpdate}>                            
            </lightning-textarea>
        </template>
    </div>

    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
        <template if:false={isEditMode}>
            <label class="slds-form-element__label">
                {questionsMap.benefitsToAustralianCommunityEconomicImpactQuestion}
            </label>

            <label>
                <b>{proposalRecord.Net_Benefit_Economic_impact__c}</b>
            </label>
        </template>

        <template if:true={isEditMode}>
            <lightning-textarea 
                name="Net_Benefit_Economic_impact__c"
                label={questionsMap.benefitsToAustralianCommunityEconomicImpactQuestion}
                value={proposalRecord.Net_Benefit_Economic_impact__c}
                onblur={handleProposalInputUpdate}>                            
            </lightning-textarea>
        </template>
    </div>

    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
        <template if:false={isEditMode}>
            <label class="slds-form-element__label">
                {questionsMap.consultedPeopleQuestion}
            </label>

            <label>
                <lightning-formatted-rich-text 
                    value={proposalRecord.Who_has_been_consulted__c}>
                </lightning-formatted-rich-text>
            </label>
        </template>

        <template if:true={isEditMode}>
            <lightning-textarea 
                name="Who_has_been_consulted__c" 
                class="consulted-people" 
                label={questionsMap.consultedPeopleQuestion} 
                value={proposalRecord.Who_has_been_consulted__c}
                onchange={handleProposalInputUpdate}
                onblur={handleProposalInputUpdate}
                required>
            </lightning-textarea>
        </template>            
    </div>
</template>