* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
}

.privacy-info {
    width: 100%;
    padding: 16px;
    margin-bottom: 26px;
    border-radius: 8px;
    background-color: #eeeeee;
    display: flex;
    font-size: 14px;
}

.disclaimer-container {
    display: flex;
}
.disclaimer-check .slds-checkbox_faux {
    width: 30px;
    height: 30px !important;
    border-radius: 6px !important;
    border: solid 1px rgba(4, 8, 32, 0.3) !important;
    margin: 0 !important;
    cursor: pointer;
}
.disclaimer-container .slds-form-element__label {
    display: none !important;
}
.disclaimer-container label {
    top: unset !important;
    left: unset !important;
}
.custom-checkbox {
    margin: 0;
    margin-right: 12px !important;
}

button.sa-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-size: .875rem;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    background-color: #002f5f;
    color: #ffffff;
    display: block;
    padding: 12px 5px;
    text-align: center;
    text-transform: none;
    width: 100%;
}
button.sa-button img {
    margin-top: auto;
    margin-bottom: auto;
}
button .sa-button-text {
    display: block;
    margin: auto;
}

button.sa-button.orange {
    background-color: #ffb500;
    color: #000000;
}
button.sa-button.yellow {
    background-color: #ffe511;
    color: #000000;
}
button.sa-button.blue {
    background-color: #007ac9;
    color: #fff;
}
button.sa-button.navy {
    background-color: #002f5f;
    color: #fff;
}

.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.container input {
    height: 50px !important;
}
.container textarea {
    height: 50px;
}
.container input,
.container textarea {
    border-radius: 6px !important;
    border: solid 1px rgba(4, 8, 32, 0.3) !important;
    font-size: 16px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #040820 !important;
}
.container textarea {
    height: 200px;
}
.container input[readonly][disabled=false] {
    background-color: #ffffff !important;
    color: #040820 !important;
    opacity: 0.7 !important;
}
.container input[type="search"] {
    appearance: none !important;
    -webkit-appearance: none !important;
    box-sizing: border-box !important;
}

.container label {
    background-color: #FFFFFF !important;
    top: 11px !important;
    left: 7px !important;
    position: relative !important;
    z-index: 11 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 12px !important;
    color: #040820 !important;
    padding-top: unset !important;
}
.container .slds-assistive-text {
    background-color: unset !important;
}
.container label abbr {
    display: none;
}
.container .slds-has-error .slds-form-element__help {
    margin-left: 10px;
    margin-top: 6px;
}
.container .slds-has-error label,
.container .slds-has-error .slds-form-element__help {
    color: #c3594a !important;
}
.container .slds-has-error input {
    border: solid 2px #c3594a !important;
    background-clip: unset !important;
    box-shadow: unset !important;
}

.text-center {
    text-align: center!important;
}
.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.dashboard-btn {
    padding: 40px;
    background-color: #002f5f;
    color: #ffb500;
    font-weight: bolder;
    width: 100%;
    font-size: 18px;
    border: none;
}

.dashboard-btn:hover {
    background-color: #007bcf;
}

.section-title-container {
    padding-top: 10px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: flex-end flex-start;
    align-items: flex-end;
}

.section-title {
    border-bottom: 3px solid #ffb500;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.15rem;
}

.section-title-remaining {
    flex: 1 1 auto;
    box-sizing: border-box;
    border-bottom: 3px solid #eee;
}

.dashboard-card {
    width: 180px;
    margin-right: 0px;
    cursor: pointer;
    background-color: #002f5f;
}

.dashboard-card:hover {
    background-color: #007bcf;
}

.dashboard-card-img {
    max-width: 100px;
    vertical-align: middle;
    border-style: none;
    padding-top: 13px;
}

.dashboard-card-body {
    min-height: 116px;
    padding: 1.25rem;
    text-decoration: underline;
    color: #ffffff;
}

.sd-proposal-btn, .cell-action button {
    background-color: #fbc02d !important;
    color: #053f73 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    position: relative !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border: none !important;
    -webkit-tap-highlight-color: transparent !important;
    display: inline-block !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    vertical-align: baseline !important;
    text-align: center !important;
    margin: 0 !important;
    min-width: 88px !important;
    line-height: 36px !important;
    padding: 0 16px !important;
    border-radius: 2px !important;
    overflow: visible !important;
    transform: translate3d(0, 0, 0) !important;
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1) !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.sd-proposal-btn:not(:disabled), .cell-action button:not(:disabled) {
    cursor: pointer !important;
}

.sd-proposal-btn:active, .cell-action button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

.bold-text, .bold-text lightning-formatted-text, .bold-text .slds-form-element__static {
    font-weight: bold !important;
    color: #6f6f6f !important;
}

.hidden {
    display: none;
}