<template>
    <template if:true={hasAttachments}>
        <template if:false={showFileDetails}>
            <template if:true={files}>
                <lightning-datatable
                    class="stack-datatable" 
                    hide-checkbox-column="true"
                    key-field="Id"
                    data={files}
                    columns={fileColumns}
                    onrowaction={handleRowAction}
                    column-widths-mode="fixed">
                </lightning-datatable>

                <template if:false={viewOnly}>
                    <c-confirmation-dialog 
                        title="Delete File" 
                        message="Are you sure you want to delete this file?" 
                        confirm-label="Delete" 
                        cancel-label="Cancel" 
                        visible={isDialogVisible} 
                        original-message={originalMessage}
                        name="confirmModal" 
                        onclick={handleDelete}>
                    </c-confirmation-dialog>
                </template>            
            </template>
        </template>

        <template if:true={showFileDetails}>
            <c-file-details 
                file={selectedRow} 
                onclose={handleCloseFileDetails} 
                edit={editFileDetails}>
            </c-file-details>                
        </template>
    </template> 
    
    <template if:false={hasAttachments}>
        <div class="text-center alert alert-light ng-star-inserted">No attachment found.</div>
    </template>
</template>