<template>
    <div class="slds-box">
        <div class="slds-clearfix">
            <div class="slds-float_right">
                <div class="slds-grid slds-wrap">
                    <div class="slds-p-bottom_small">
                        <button class="sd-proposal-btn" onclick={handleBackToFileList}>
                            Back to File List
                        </button>
                    </div>                
                </div>
            </div>
        </div>
    
        <div class="slds-page-header slds-page-header_record-home" >
            <div class="slds-grid primaryFieldRow">
                <div class="slds-grid slds-col slds-has-flexi-truncate">
                    <div class="slds-media__figure slds-icon forceEntityIcon">
                        <lightning-icon 
                            icon-name="doctype:attachment">
                        </lightning-icon>
                    </div>

                    <div class="slds-media__body">
                        <h1>
                            <div class="entityNameTitle slds-line-height_reset">
                                File
                            </div>

                            <div class="slds-page-header__title slds-m-right--small slds-align-middle clip-text slds-line-clamp" title={file.title}>
                                <span class="uiOutputText" data-aura-class="uiOutputText">
                                    {file.title}
                                </span>
                            </div>
                        </h1>
                    </div>
                </div>
            </div>

            <ul class="slds-form slds-form_stacked slds-grid slds-page-header__detail-row" role="list">
                <li class="slds-page-header__detail-block" role="listitem" >
                    <div class="slds-form-element slds-form-element_readonly slds-hint-parent">
                        <span class="slds-form-element__label slds-truncate" title="Size">
                            Size
                        </span>

                        <div class="slds-form-element__control" >
                            <div class="slds-form-element__static slds-truncate" >
                                <span class="forceChatterFileSize">
                                    <div class="fileSize">
                                        <span>
                                            {file.size}
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="slds-page-header__detail-block" role="listitem">
                    <div class="slds-form-element slds-form-element_readonly slds-hint-parent" >
                        <span class="slds-form-element__label slds-truncate" title="File Extension" >
                            File Extension
                        </span>

                        <div class="slds-form-element__control" >
                            <div class="slds-form-element__static slds-truncate">
                                <span>
                                    {file.type}
                                </span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="slds-page-header__detail-block" role="listitem">
                    <div class="slds-form-element slds-form-element_readonly slds-hint-parent">
                        <span class="slds-form-element__label slds-truncate" title="Owner" >
                            Owner
                        </span>

                        <div class="slds-form-element__control" >
                            <div class="slds-form-element__static slds-truncate" >
                                {file.owner}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>            
        </div>

        <template if:false={edit}>
            <div class="slds-form slds-box" role="list">
                <div class="slds-form__row">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element slds-form-element__control slds-form-element_stacked">
                            <span class="slds-form-element__label">
                                Title
                            </span>

                            <div class="slds-form-element__static">
                                {file.title}
                            </div>
                        </div>
                    </div>

                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element slds-form-element__control slds-form-element_stacked">
                            <span class="slds-form-element__label">
                                Description
                            </span>

                            <div class="slds-form-element__static">
                                {file.description}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slds-form__row">
                    <div class="slds-form__item" role="listitem">
                        <div class="slds-form-element slds-form-element__control slds-form-element_stacked">
                            <span class="slds-form-element__label">
                                Owner
                            </span>

                            <div class="slds-form-element__static">
                                {file.owner}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    
        <template if:true={edit}>
            <lightning-record-form
                record-id={file.id}
                object-api-name="ContentDocument"
                layout-type="Full"
                mode="edit">
            </lightning-record-form>
        </template>
    </div>
</template>