<template>
    <lightning-card title={cardTitle} icon-name={cardIconName}>
        <!-- <div class="slds-clearfix">
            <div class="slds-float_right">
                <div if:false={viewOnly} class="slds-p-around_small">
                    <button class="sd-proposal-btn" onclick={handleAddFilesButtonClick}>
                        Add Files
                    </button>
                </div>
            </div>
        </div> -->

        <div if:false={viewOnly} class="slds-p-around_x-large">
            <lightning-file-upload 
                class="file-upload"
                label={fileUploadLabel}
                name="fileUploader"
                accept={acceptedFormats}
                record-id={recordId}
                onuploadfinished={handleUploadFinished}
                multiple>
            </lightning-file-upload>
        </div>

        <div if:true={files.data} class="slds-p-around_x-large">
            <c-file-list 
                files={files.data} 
                onfiledelete={handleDeleteFinished}
                view-only={viewOnly}
                onrefreshfiles={refreshFiles}>
            </c-file-list>
        </div>
    </lightning-card>
</template>