<template>
    <div class="slds-is-relative">
        <lightning-spinner 
            if:true={isLoading} 
            alternative-text="Loading data..." 
            variant="brand">
        </lightning-spinner>
    </div>

    <template if:true={constants}>
        <div class="slds-grid slds-wrap slds-m-around_small">
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12">
                <div class="slds-grid slds-wrap slds-p-around_large">
                    <div class="slds-p-right_small slds-p-bottom_small">
                        <div class="dashboard-card" onclick={handleCreateNewProposalButton}>
                            <div class="slds-align_absolute-center">
                                <img class="dashboard-card-img" src={isoIcon} />
                            </div>
    
                            <div class="dashboard-card-body slds-align_absolute-center">
                                Create New Proposal
                            </div>
                        </div>
                    </div>

                    <div class="slds-p-right_small slds-p-bottom_small">
                        <div class="dashboard-card" onclick={handleMyProposalsButton}>
                            <div class="slds-align_absolute-center">
                                <img class="dashboard-card-img" src={simIcon} />
                            </div>
                            
                            <div class="dashboard-card-body slds-align_absolute-center">
                                My Proposals
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- CREATE NEW PROPOSAL -->
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small" if:true={isCreateNewProposalSelected}>
                <div class="section-title-container slds-p-bottom_medium">
                    <h2 class="section-title slds-text-heading_small slds-p-vertical_small">{sectionHeader}</h2>

                    <div class="section-title-remaining"></div>
                </div>

                <c-deal-proposal 
                    constants={constants}
                    proposal-question={proposalQuestion}
                    publication-type-question={publicationTypeQuestion}
                    related-to-any-existing-publications-question={relatedToAnyExistingPublicationsQuestion}
                    multiple-related-publications-search-question={multipleRelatedPublicationsSearchQuestion}
                    proposed-publication-title-question={proposedPublicationTitleQuestion}
                    problem-designed-to-solve-question={problemDesignedToSolveQuestion}
                    proposed-publication-scope-question={proposedPublicationScopeQuestion}
                    revise-publications-search-question={revisePublicationsSearchQuestion}
                    revise-publication-designation-title-question={revisePublicationDesignationTitleQuestion}
                    revised-publication-designation-question={revisedPublicationDesignationQuestion}
                    revised-publication-title-question={revisedPublicationTitleQuestion}
                    current-edition-issues-question={currentEditionIssuesQuestion}
                    evidence-exists-problem-question={evidenceExistsProblemQuestion}
                    proposed-solution-question={proposedSolutionQuestion}
                    multiple-international-publications-search-question={multipleInternationalPublicationsSearchQuestion}
                    adopt-international-standard-designation-title-question={adoptInternationalStandardDesignationTitleQuestion}
                    adopted-publication-designation-question={adoptedPublicationDesignationQuestion}
                    adopted-publication-title-question={adoptedPublicationTitleQuestion}
                    adoption-identical-or-modify-content-question={adoptionIdenticalOrModifyContentQuestion}
                    why-publication-be-adopted-in-australia-question={whyPublicationBeAdoptedInAustraliaQuestion}
                    why-cannot-adopted-identically-current-international-standard-question={whyCannotAdoptedIdenticallyCurrentInternationalStandardQuestion}
                    proposed-variations-question={proposedVariationsQuestion}
                    add-more-projects-question={addMoreProjectsQuestion}
                    benefits-to-australian-community-public-health-and-safety-question={benefitsToAustralianCommunityPublicHealthAndSafetyQuestion}
                    benefits-to-australian-community-social-and-community-impact-question={benefitsToAustralianCommunitySocialAndCommunityImpactQuestion}
                    benefits-to-australian-community-environmental-impact-question={benefitsToAustralianCommunityEnvironmentalImpactQuestion}
                    benefits-to-australian-community-competition-question={benefitsToAustralianCommunityCompetitionQuestion}
                    benefits-to-australian-community-economic-impact-question={benefitsToAustralianCommunityEconomicImpactQuestion}
                    consulted-people-question={consultedPeopleQuestion}
                    declaration-text={declarationText}
                    do-not-agree-text={doNotAgreeText}
                    thank-you-text={thankYouText}
                    no-match-found-text={noMatchFoundText}
                    review-all-proposed-projects-screen={continueDraft}
                    proposal-record={proposalRecord}
                    projects={projects}>                
                </c-deal-proposal>
            </div>
    
            <!-- MY PROPOSALS -->
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small" if:true={isMyProposalsSelected}>
                <div class="section-title-container slds-p-bottom_medium">
                    <h2 class="section-title slds-text-heading_small slds-p-vertical_small">{sectionHeader}</h2>

                    <div class="section-title-remaining"></div>
                </div>

                <c-proposal-list
                    constants={constants}
                    onclose={handleCloseProposalDetails}
                    ontogglecontinuedraftproposal={handleContinueDraftProposal}>
                </c-proposal-list>
            </div>
        </div>
    </template>
</template>