<template>
    <div class="slds-form-element">
        <label class='slds-m-around_x-small'>
            <small>{labelName}</small>
        </label>

        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-has-focus" role="none">
                        <template if:false={selectedItem}>
                            <lightning-input 
                                id="input" 
                                value={searchInput} 
                                onchange={onchangeSearchInput} 
                                variant="label-hidden" 
                                aria-autocomplete="list" 
                                role="textbox"
                                autocomplete="off" 
                                placeholder="Search..." 
                                type="search">
                            </lightning-input>
                        </template>

                        <template if:false={isMultiSelect}>
                            <template if:true={selectedItem}>
                                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
                                    <span class="slds-icon_container slds-combobox__input-entity-icon" title={selectedItem.value}>
                                        <lightning-icon 
                                            icon-name={iconName} 
                                            title={selectedItem.label}>
                                        </lightning-icon>
                                    </span>
                        
                                    <input 
                                        class="slds-input slds-combobox__input slds-combobox__input-value" 
                                        id="combobox-id-5" 
                                        aria-controls="listbox-id-5" 
                                        autocomplete="off" 
                                        role="textbox" 
                                        type="text" 
                                        placeholder="Select an Option" 
                                        readonly 
                                        value={selectedItem.label}
                                        required
                                    />
                        
                                    <button class="sicon_container slds-button slds-button_icon slds-input__icon slds-input__icon_right btn-remove" title="Remove selected option" onclick={handleRemoveSingleRecord}>
                                        <lightning-icon 
                                            icon-name="utility:close" 
                                            size="xx-small">
                                        </lightning-icon>
            
                                        <span class="slds-assistive-text">
                                            Remove selected option
                                        </span>
                                    </button>
                                </div>
                            </template>
                        </template>
                    </div>

                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right" role="none">
                        <template for:each={globalSelectedItems} for:item="selectedItem">
                            <span key={selectedItem.value}>
                                <lightning-pill 
                                    label={selectedItem.label} 
                                    name={selectedItem.value} 
                                    data-item={selectedItem.value} 
                                    onremove={handleRemoveRecord}>

                                    <lightning-icon 
                                        icon-name={iconName} 
                                        variant="circle" 
                                        alternative-text={selectedItem.label}>
                                    </lightning-icon>
                                </lightning-pill>
                            </span>
                        </template>
                    </div>

                    <template if:true={isDisplayMessage}>
                        <lightning-card>{noMatchFoundText}</lightning-card>
                    </template>

                    <template if:false={isDisplayMessage}>
                        <template if:true={isDialogDisplay}>
                            <template if:false={isMultiSelect}>
                                <div class="slds-grid slds-wrap slds-dropdown_length-with-icon-7 slds-dropdown_fluid slds-p-left_small">
                                    <div class="slds-col slds-size_4-of-4 ">
                                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                            <template for:each={items} for:item="item">
                                                <li key={item.key} role="presentation" class="slds-listbox__item" data-label={item.label} data-value={item.value} onclick={handleSelectSingleRecord}>
                                                    <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" 
                                                         role="option">
                                                        <span class="slds-media__figure slds-listbox__option-icon">
                                                            <lightning-icon 
                                                                icon-name={iconName} 
                                                                variant="circle" 
                                                                alternative-text={item.label}>
                                                            </lightning-icon>
                                                        </span>

                                                        <span class="slds-media__body" style="padding-top: 9px;font-weight: 600;">
                                                            <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                                                                {item.label}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </template>

                            <template if:true={isMultiSelect}>
                                <section aria-describedby="dialog-body-id-26" aria-label="Language Options" class="slds-popover slds-popover_full-width" id="popover-unique-id-02" role="dialog">
                                    <div class="slds-popover__body slds-popover__body_small" id="dialog-body-id-26">
                                        <fieldset class="slds-form-element">   
                                            <lightning-checkbox-group 
                                                name="Checkbox Group"
                                                label={objectAPIName}
                                                options={items}
                                                value={value}
                                                onchange={handleCheckboxChange}>
                                            </lightning-checkbox-group>
                                        </fieldset>
                                    </div>
    
                                    <footer class="slds-popover__footer slds-popover__footer_form">
                                        <lightning-button 
                                            label="Cancel" 
                                            title="Cancel" 
                                            onclick={handleCancelClick} 
                                            class="slds-m-left_x-small">
                                        </lightning-button>
    
                                        <lightning-button 
                                            variant="success" 
                                            label="Done" 
                                            title="Done" 
                                            onclick={handleDoneClick} 
                                            class="slds-m-left_x-small">
                                        </lightning-button>                                
                                    </footer>
                                </section>        
                            </template>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>