<template>
    <div class="slds-grid slds-wrap slds-p-around_small">
        <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
            <label class="slds-form-element__label">
                {questionsMap.proposalQuestion}
            </label>

            <label>
                <b>{project.projectRecord.Project_Type__c}</b>
            </label>
        </div>

        <!-- New Publication -->
        <template if:true={project.isProposalCreateNewPublication}>
            <template if:false={isEditMode}>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.publicationTypeQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.Product_Type__c}</b>
                    </label>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.relatedToAnyExistingPublicationsQuestion}
                    </label>

                    <label>
                        <b if:true={project.selectedPublications}>Yes</b>
                        <b if:false={project.selectedPublications}>No</b>
                    </label>
                </div>

                <div if:true={project.selectedPublications} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.multipleRelatedPublicationsSearchQuestion}
                    </label>
                    <template for:each={project.selectedPublications} for:item="publication">
                        <ul class="slds-list_dotted" key={publication.value}>
                            <li class="slds-p-vertical_small">
                                <b>{publication.label}</b>
                            </li>                            
                        </ul>
                        
                    </template>


                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.proposedPublicationTitleQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.Title__c}</b>
                    </label>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.problemDesignedToSolveQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.What_problem_is_this_proposal_designed_t__c}</b>
                    </label>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <template if:false={isEditMode}>
                        <label class="slds-form-element__label">
                            {questionsMap.proposedPublicationScopeQuestion}
                        </label>

                        <label>                    
                            <b>{project.projectRecord.What_is_the_summarised_scope__c}</b>                    
                        </label>
                    </template>   

                    <template if:true={isEditMode}>
                        <lightning-input 
                            type="text" 
                            name="What_is_the_summarised_scope__c"
                            label={questionsMap.proposedPublicationScopeQuestion}
                            value={project.projectRecord.What_is_the_summarised_scope__c}
                            onblur={handleProjectInputUpdate}>                            
                        </lightning-input>
                    </template>
                </div>
            </template>

            <!-- New Publication - Edit Mode -->
            <template if:true={isEditMode}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.publicationTypeQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.Product_Type__c}</b>
                    </label>                    
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <label class="slds-form-element__label">
                        {questionsMap.relatedToAnyExistingPublicationsQuestion}
                    </label>

                    <label>
                        <b if:true={project.selectedPublications}>Yes</b>
                        <b if:false={project.selectedPublications}>No</b>
                    </label>
                </div>

                <div if:true={project.selectedPublications} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">

                    <label class="slds-form-element__label">
                        {questionsMap.multipleRelatedPublicationsSearchQuestion}
                    </label>

                    <template for:each={project.selectedPublications} for:item="publication">
                        <ul class="slds-list_dotted" key={publication.value}>
                            <li class="slds-p-vertical_small">
                                <b>{publication.label}</b>
                            </li>                            
                        </ul>
                        
                    </template>

                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">                    
                    <lightning-input
                        type="text" 
                        name="Title__c"
                        label={questionsMap.proposedPublicationTitleQuestion}
                        value={project.projectRecord.Title__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-input>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">                    
                    <lightning-textarea 
                        name="What_problem_is_this_proposal_designed_t__c"
                        label={questionsMap.problemDesignedToSolveQuestion}
                        value={project.projectRecord.What_problem_is_this_proposal_designed_t__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">         
                    <lightning-textarea 
                        name="What_is_the_summarised_scope__c"
                        label={questionsMap.proposedPublicationScopeQuestion}
                        value={project.projectRecord.What_is_the_summarised_scope__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-textarea>
                </div>
            </template>
        </template>

        <!-- Amending Existing Publications -->
        <template if:true={project.isProposalAmendingExistingPublications}>
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <label class="slds-form-element__label">
                    {questionsMap.revisePublicationsSearchQuestion}
                </label>

                <template if:true={project.projectRecord.Existing_Publication_to_revise_amend__c}>
                    <label>
                        <lightning-record-view-form record-id={project.projectRecord.Existing_Publication_to_revise_amend__c} object-api-name="Publication__c">
                            <ul class="slds-list_dotted">
                                <li class="slds-p-vertical_small">
                                    <div class="slds-grid slds-wrap slds-float_left">
                                        <div class="slds-col bold-text">
                                            <lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
                                        </div>

                                        <div class="slds-col slds-p-horizontal_x-small bold-text"> • </div>

                                        <div class="slds-col bold-text">
                                            <lightning-output-field field-name="Title__c" variant="label-hidden"></lightning-output-field>
                                        </div>
                                    </div>
                                </li>                            
                            </ul>                                                                                         
                        </lightning-record-view-form>
                    </label>
                </template>
            </div>

            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <template if:false={isEditMode}>
                    <label class="slds-form-element__label">
                        {questionsMap.currentEditionIssuesQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.Issues_with_Current_edition__c}</b>
                    </label>
                </template>

                <template if:true={isEditMode}>
                    <lightning-textarea 
                        name="Issues_with_Current_edition__c"
                        label={questionsMap.currentEditionIssuesQuestion}
                        value={project.projectRecord.Issues_with_Current_edition__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-textarea>
                </template>
            </div>

            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <template if:false={isEditMode}>
                    <label class="slds-form-element__label">
                        {questionsMap.evidenceExistsProblemQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.What_evidence_exist__c}</b>
                    </label>
                </template>

                <template if:true={isEditMode}>
                    <lightning-textarea 
                        name="What_evidence_exist__c"
                        label={questionsMap.evidenceExistsProblemQuestion}
                        value={project.projectRecord.What_evidence_exist__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-textarea>
                </template>
            </div>

            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <template if:false={isEditMode}>
                    <label class="slds-form-element__label">
                        {questionsMap.proposedSolutionQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.What_is_your_Proposed_Solution__c}</b>
                    </label>
                </template>

                <template if:true={isEditMode}>
                    <lightning-textarea 
                        name="What_is_your_Proposed_Solution__c"
                        label={questionsMap.proposedSolutionQuestion}
                        value={project.projectRecord.What_is_your_Proposed_Solution__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-textarea>
                </template>
            </div>
        </template>

        <!-- Adopt International Publications -->
        <template if:true={project.isProposalAdoptInternationalPublications}>
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <label class="slds-form-element__label">
                    {questionsMap.multipleInternationalPublicationsSearchQuestion}
                </label>
                
                <label>
                    <template if:true={project.projectRecord.International_Publication_to_adopt__c}>
                        <lightning-record-view-form record-id={project.projectRecord.International_Publication_to_adopt__c} object-api-name="Publication__c">
                            <ul class="slds-list_dotted">
                                <li class="slds-p-vertical_small">
                                    <div class="slds-grid slds-wrap slds-float_left">
                                        <div class="slds-col bold-text">
                                            <lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
                                        </div>

                                        <div class="slds-col slds-p-horizontal_x-small bold-text"> • </div>

                                        <div class="slds-col bold-text">
                                            <lightning-output-field field-name="Title__c" variant="label-hidden"></lightning-output-field>
                                        </div>
                                    </div>
                                </li>                            
                            </ul>                                                                                         
                        </lightning-record-view-form>
                    </template>
                </label>
            </div>

            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <label class="slds-form-element__label">
                    {questionsMap.adoptionIdenticalOrModifyContentQuestion}
                </label>

                <label>
                    <b>{project.projectRecord.Project_Type__c}</b>
                </label>
            </div>

            <div if:true={project.adoptionIdenticalOrModifyContent} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                <template if:false={isEditMode}>
                    <label class="slds-form-element__label">
                        {questionsMap.whyPublicationBeAdoptedInAustraliaQuestion}
                    </label>

                    <label>
                        <b>{project.projectRecord.Why_does_standard_need_to_be_adopted__c}</b>
                    </label>
                </template>

                <template if:true={isEditMode}>
                    <lightning-textarea 
                        name="Why_does_standard_need_to_be_adopted__c"
                        label={questionsMap.whyPublicationBeAdoptedInAustraliaQuestion}
                        value={project.projectRecord.Why_does_standard_need_to_be_adopted__c}
                        onblur={handleProjectInputUpdate}>                            
                    </lightning-textarea>
                </template>
            </div>

            <template if:true={project.isAdoptionModifiedContent}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <template if:false={isEditMode}>
                        <label class="slds-form-element__label">
                            {questionsMap.whyCannotAdoptedIdenticallyCurrentInternationalStandardQuestion}
                        </label>

                        <label>
                            <b>{project.projectRecord.Reasons_for_non_identical_adoption__c}</b>
                        </label>
                    </template>

                    <template if:true={isEditMode}>
                        <lightning-textarea 
                            name="Reasons_for_non_identical_adoption__c"
                            label={questionsMap.whyCannotAdoptedIdenticallyCurrentInternationalStandardQuestion}
                            value={project.projectRecord.Reasons_for_non_identical_adoption__c}
                            onblur={handleProjectInputUpdate}>                            
                        </lightning-textarea>
                    </template>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <template if:false={isEditMode}>
                        <label class="slds-form-element__label">
                            {questionsMap.proposedVariationsQuestion}
                        </label>

                        <label>
                            <b>{project.projectRecord.What_are_your_Proposed_Variations__c}</b>
                        </label>
                    </template>
                    
                    <template if:true={isEditMode}>
                        <lightning-textarea 
                            name="What_are_your_Proposed_Variations__c"
                            label={questionsMap.proposedVariationsQuestion}
                            value={project.projectRecord.What_are_your_Proposed_Variations__c}
                            onblur={handleProjectInputUpdate}>                            
                        </lightning-textarea>
                    </template>
                </div>
            </template>
        </template>                
    </div>
</template>