<template>
    <template if:true={constants}>
        <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
            <div class="slds-clearfix">
                <div class="slds-float_right">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-p-bottom_small">
                            <button class="sd-proposal-btn" onclick={handleBackToProposalList}>
                                Close
                            </button>
                        </div>
        
                        <div if:true={isDraftProposal} class="slds-p-left_small slds-p-bottom_small">
                            <button class="sd-proposal-btn" onclick={handleEdit}>
                                Edit
                            </button>
                        </div> 
                    </div>
                </div>
            </div>

            <!-- Proposal Details -->
            <lightning-accordion-section name="Proposal_Details" label="Proposal Details">
                <div class="slds-p-vertical_small">
                    <lightning-record-view-form record-id={proposalWrapper.proposalRecord.Id} object-api-name="Proposal__c">
                        <lightning-output-field 
                            field-name="Proposal_Number__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Name">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Proposal_Status__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Submitted_Date1__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Consultation_Start_Date__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Consultation_End_Date__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Approved_Date__c">
                        </lightning-output-field>
                        
                        <lightning-output-field 
                            field-name="Complete_Date__c">
                        </lightning-output-field>
                    </lightning-record-view-form>
                </div>
            </lightning-accordion-section>

            <!-- Projects Section -->
            <lightning-accordion-section name="Projects" label="Projects">
                <template for:each={proposalWrapper.projects} for:item="project">
                    <!-- New -->
                    <template if:true={project.isNew}>
                        <div key={project.Id} class="slds-p-around_small">
                            <div class="slds-box">
                                <lightning-record-view-form record-id={project.projectRecord.Id} object-api-name="Project__c">
                                    <lightning-output-field 
                                        field-name="Project_Type__c">
                                    </lightning-output-field>
                                    
                                    <lightning-output-field 
                                        field-name="Product_Type__c">
                                    </lightning-output-field>
                                    <lightning-output-field 
                                        field-name="Title__c">
                                    </lightning-output-field>
    
                                    <lightning-output-field 
                                        field-name="What_problem_is_this_proposal_designed_t__c">
                                    </lightning-output-field>
    
                                    <lightning-output-field 
                                        field-name="What_is_the_summarised_scope__c">
                                    </lightning-output-field>                                
                                </lightning-record-view-form>
                            </div>
                        </div>
                    </template>
    
                    <!-- Revise / Amendment -->
                    <template if:true={project.isReviseAmend}>
                        <div key={project.Id} class="slds-p-around_small">
                            <lightning-record-view-form record-id={project.projectRecord.Id} object-api-name="Project__c">
                                <div class="slds-box">
                                    <lightning-output-field 
                                        field-name="Project_Type__c">
                                    </lightning-output-field>
    
                                    <template if:false={project.showTitleDesignation}>
                                        <lightning-output-field 
                                            field-name="Existing_Publication_to_revise_amend__c">
                                        </lightning-output-field>
                                    </template>
    
                                    <template if:true={project.showTitleDesignation}>
                                        <lightning-output-field 
                                            field-name="Title__c">
                                        </lightning-output-field>
    
                                        <lightning-output-field 
                                            field-name="Designation__c">
                                        </lightning-output-field>
                                    </template>
    
                                    <lightning-output-field 
                                        field-name="Issues_with_Current_edition__c">
                                    </lightning-output-field>
    
                                    <lightning-output-field 
                                        field-name="What_evidence_exist__c">
                                    </lightning-output-field>
                                    
                                    <lightning-output-field 
                                        field-name="What_is_your_Proposed_Solution__c">
                                    </lightning-output-field>                                        
                                </div>
                            </lightning-record-view-form>
                        </div>
                    </template>
    
                    <!-- International Adoption - Identical -->
                    <template if:true={project.isAdoptionIdentical}>
                        <div key={project.Id} class="slds-p-around_small">
                            <lightning-record-view-form record-id={project.projectRecord.Id} object-api-name="Project__c">
                                <div class="slds-box">
                                    <lightning-output-field 
                                        field-name="Project_Type__c">
                                    </lightning-output-field>
    
                                    <template if:false={project.showTitleDesignation}>
                                        <lightning-output-field 
                                            field-name="International_Publication_to_adopt__c">
                                        </lightning-output-field>
                                    </template>
    
                                    <template if:true={project.showTitleDesignation}>
                                        <lightning-output-field 
                                            field-name="Title__c">
                                        </lightning-output-field>
    
                                        <lightning-output-field 
                                            field-name="Designation__c">
                                        </lightning-output-field>
                                    </template>
    
                                    <lightning-output-field 
                                        field-name="Why_does_standard_need_to_be_adopted__c">
                                    </lightning-output-field>
                                    
                                </div>
                            </lightning-record-view-form>
                        </div>
                    </template>
    
                    <!-- International Adoption - Modified -->
                    <template if:true={project.isAdoptionModified}>
                        <div key={project.Id} class="slds-p-around_small">
                            <lightning-record-view-form record-id={project.projectRecord.Id} object-api-name="Project__c">
                                <div class="slds-box">
                                    <lightning-output-field 
                                        field-name="Project_Type__c">
                                    </lightning-output-field>
    
                                    <template if:false={project.showTitleDesignation}>
                                        <lightning-output-field 
                                            field-name="International_Publication_to_adopt__c">
                                        </lightning-output-field>
                                    </template>
    
                                    <template if:true={project.showTitleDesignation}>
                                        <lightning-output-field 
                                            field-name="Title__c">
                                        </lightning-output-field>
    
                                        <lightning-output-field 
                                            field-name="Designation__c">
                                        </lightning-output-field>
                                    </template>
    
                                    <lightning-output-field 
                                        field-name="Why_does_standard_need_to_be_adopted__c">
                                    </lightning-output-field>
    
                                    <lightning-output-field 
                                        field-name="Issues_with_Current_edition__c">
                                    </lightning-output-field>
    
                                    <lightning-output-field 
                                        field-name="What_evidence_exist__c">
                                    </lightning-output-field>
    
                                    <lightning-output-field 
                                        field-name="What_is_your_Proposed_Solution__c">
                                    </lightning-output-field>
                                </div>
                            </lightning-record-view-form>
                        </div>
                    </template>
                </template>
            </lightning-accordion-section>

            <!-- Net Benefits -->
            <lightning-accordion-section name="Net_Benefits" label="Net Benefits & Consultation">
                <div class="slds-p-vertical_small">
                    <lightning-record-view-form record-id={proposalWrapper.proposalRecord.Id} object-api-name="Proposal__c">
                        <lightning-output-field 
                            field-name="Net_Benefit_Economic_impact__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Net_Benefit_Environmental_Impact__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Net_Benefit_Social_and_community_impact__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Net_Benefit_Public_and_health_safety__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Net_Benefit_Competition__c">
                        </lightning-output-field>
    
                        <lightning-output-field 
                            field-name="Who_has_been_consulted__c">
                        </lightning-output-field>
                    </lightning-record-view-form>
                </div>
            </lightning-accordion-section>

            <!-- Projects Section -->
            <lightning-accordion-section name="Files" label="Files">
                <c-file-upload 
                    record-id={proposalWrapper.proposalRecord.Id}
                    card-title="Attachments"
                    card-icon-name="custom:custom19"
                    file-upload-label="Please attach all the files that are related to your proposal"
                    view-only={canUserView}>
                </c-file-upload>
            </lightning-accordion-section>
        </lightning-accordion>
    </template>
</template>