<!--
    @author:            Stephen Laylo
    @company:           J4RVIS
    @description:       Deal Proposal LWC that contains the flow of SD Proposal
-->
<template>
    <div if:true={constants} class="container">
        <div class="slds-is-relative">
            <lightning-spinner 
                if:true={isRendering} 
                alternative-text="Loading content..." 
                variant="base"
                size="medium">
            </lightning-spinner>
        </div>
        
        <div if:false={isRendering} class="slds-grid slds-wrap slds-p-around_large">

            <!-- PROPOSAL SCREEN -->
            <template if:true={proposalScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={proposalTypeChoices}>
                        <template if:true={proposalTypeChoices.data}>
                            <lightning-radio-group 
                                name="proposal-type"
                                class="proposal-type"
                                variant={proposalTypeLabelVariant}
                                label={proposalQuestion}
                                value={proposalType}
                                options={proposalTypeChoices.data.values}
                                onchange={handleProposalTypeChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- CREATE NEW PUBLICATION SCREEN 1 -->
            <template if:true={createNewPublicationScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={publicationTypeChoices}>
                        <template if:true={publicationTypeChoices.data}>
                            <lightning-radio-group 
                                name="publication-type"
                                class="publication-type"
                                variant={publicationTypeLabelVariant}
                                label={publicationTypeQuestion}
                                value={publicationType}
                                options={publicationTypeChoices.data.values}
                                onchange={handlePublicationTypeChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={relatedToAnyExistingPublicationsChoices}>
                        <template if:true={relatedToAnyExistingPublicationsChoices.data}>
                            <lightning-radio-group 
                                name="related-to-any-existing-publications"
                                class="related-to-any-existing-publications"
                                variant={relatedToAnyExistingPublicationsLabelVariant}
                                label={relatedToAnyExistingPublicationsQuestion}
                                value={isRelatedToAnyExistingPublications}
                                options={relatedToAnyExistingPublicationsChoices.data.values}
                                onchange={handleRelatedToAnyExistingPublicationsChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <div if:true={hasRelatedAnyExistingPublications} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <div class="c-container">
                        <lightning-card>
                            <h3 slot="title">
                                <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                                {multipleRelatedPublicationsSearchQuestion}
                            </h3>

                            <p class="slds-p-horizontal_small">
                                <c-custom-lookup 
                                    label-name="Search related publications"
                                    object-api-name= "Publication__c"
                                    field-api-names="Id,Name,Title__c"
                                    filter-field-api-name="Name,Title__c"
                                    icon-name="standard:contact"
                                    onretrieve={selectItemEventHandler} 
                                    onremove={deleteItemEventHandler}
                                    selected-items={selectedItemsToDisplay}
                                    no-match-found-text="No match found."
                                    is-multi-select="true">
                                </c-custom-lookup>
                            </p>
                        </lightning-card> 
                    </div>
                </div>
            </template>

            <!-- CREATE NEW PUBLICATION SCREEN 2 -->
            <template if:true={createNewPublicationScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-input 
                        class="proposed-publication-title" 
                        required 
                        variant={proposedPublicationTitleLabelVariant} 
                        type="text" 
                        label={proposedPublicationTitleQuestion} 
                        onchange={proposedPublicationTitleOnChange} 
                        onblur={proposedPublicationTitleOnBlur} 
                        value={proposedPublicationTitle}>
                    </lightning-input>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="problem-designed-to-solve" 
                        class="problem-designed-to-solve" 
                        label={problemDesignedToSolveQuestion} 
                        value={problemDesignedToSolve}
                        onchange={problemDesignedToSolveOnChange}
                        onblur={problemDesignedToSolveOnBlur}
                        variant={problemDesignedToSolveLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="proposed-publication-scope" 
                        class="proposed-publication-scope" 
                        label={proposedPublicationScopeQuestion} 
                        value={proposedPublicationScope}
                        onchange={proposedPublicationScopeOnChange}
                        onblur={proposedPublicationScopeOnBlur}
                        variant={proposedPublicationScopeLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
            </template>

            <!-- AMEND EXISTING PUBLICATIONS SCREEN 1 -->
            <template if:true={amendExistingPublicationsScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <lightning-card>
                        <h3 slot="title">
                            <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                            {revisePublicationsSearchQuestion}
                        </h3>

                        <p class="slds-p-horizontal_small">
                            <c-custom-lookup 
                                label-name="Search Existing Publication"
                                object-api-name= "Publication__c"
                                field-api-names="Id,Name,Title__c"
                                filter-field-api-name="Name,Title__c"
                                icon-name="standard:contact"
                                onselectsingle={selectExistingPublicationEventHandler}
                                onremovesingle={deleteExistingPublicationEventHandler}
                                onsearchresult={showDataRequestForAmendHandler}
                                no-match-found-text={noMatchFoundText}
                                selected-item={selectedPublicationToBeRevised}>
                            </c-custom-lookup>
                        </p>
                    </lightning-card> 
                </div>

                <template if:true={showDataRequestForAmend}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <lightning-card>
                            <h3 slot="title">
                                <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                                {revisePublicationDesignationTitleQuestion}
                            </h3>

                            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                                <lightning-input 
                                    class="revised-publication-designation" 
                                    required 
                                    variant={revisedPublicationDesignationLabelVariant} 
                                    type="text" 
                                    label={revisedPublicationDesignationQuestion} 
                                    onchange={revisedPublicationDesignationOnChange} 
                                    onblur={revisedPublicationDesignationOnBlur} 
                                    value={revisedPublicationDesignation}>
                                </lightning-input>
                            </div>
        
                            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                                <lightning-input 
                                    class="revised-publication-title" 
                                    required 
                                    variant={revisedPublicationTitleLabelVariant} 
                                    type="text" 
                                    label={revisedPublicationTitleQuestion} 
                                    onchange={revisedPublicationTitleOnChange} 
                                    onblur={revisedPublicationTitleOnBlur} 
                                    value={revisedPublicationTitle}>
                                </lightning-input>
                            </div>
                        </lightning-card> 
                    </div>
                </template>
            </template>

            <!-- AMEND EXISTING PUBLICATIONS SCREEN 2 -->
            <template if:true={amendExistingPublicationsScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="current-edition-issues" 
                        class="current-edition-issues" 
                        label={currentEditionIssuesQuestion} 
                        value={currentEditionIssues}
                        onchange={currentEditionIssuesOnChange}
                        onblur={currentEditionIssuesOnBlur}
                        variant={currentEditionIssuesLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="evidence-exists-problem" 
                        class="evidence-exists-problem" 
                        label={evidenceExistsProblemQuestion} 
                        value={evidenceExistsProblem}
                        onchange={evidenceExistsProblemOnChange}
                        onblur={evidenceExistsProblemOnBlur}
                        variant={evidenceExistsProblemLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="proposed-solution" 
                        class="proposed-solution" 
                        label={proposedSolutionQuestion} 
                        value={proposedSolution}
                        onchange={proposedSolutionOnChange}
                        onblur={proposedSolutionOnBlur}
                        variant={proposedSolutionLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
            </template>

            <!-- ADOPT INTERNATIONAL PUBLICATIONS SCREEN 1 -->
            <template if:true={adoptInternationalPublicationsScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                    <lightning-card>
                        <h3 slot="title">
                            <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                            {multipleInternationalPublicationsSearchQuestion}
                        </h3>

                        <p class="slds-p-horizontal_small">
                            <c-custom-lookup 
                                label-name="Search International Publication"
                                object-api-name= "Publication__c"
                                field-api-names="Id,Name,Title__c"
                                filter-field-api-name="Name,Title__c"
                                icon-name="standard:contact"
                                onselectsingle={selectInternationalPublicationEventHandler}
                                onremovesingle={deleteInternationalPublicationEventHandler}
                                onsearchresult={showDataRequestForAdoptHandler}
                                no-match-found-text={noMatchFoundText}
                                selected-item={selectedInternationalPublication}>
                            </c-custom-lookup>
                        </p>
                    </lightning-card> 
                </div>

                <template if:true={showDataRequestForAdopt}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small">
                        <lightning-card>
                            <h3 slot="title">
                                <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                                {adoptInternationalStandardDesignationTitleQuestion}
                            </h3>
                    
                            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                                <lightning-input 
                                    class="adopted-publication-designation" 
                                    required 
                                    variant={adoptedPublicationDesignationLabelVariant} 
                                    type="text" 
                                    label={adoptedPublicationDesignationQuestion} 
                                    onchange={adoptedPublicationDesignationOnChange} 
                                    onblur={adoptedPublicationDesignationOnBlur} 
                                    value={adoptedPublicationDesignation}>
                                </lightning-input>
                            </div>
        
                            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                                <lightning-input 
                                    class="adopted-publication-title" 
                                    required 
                                    variant={adoptedPublicationTitleLabelVariant} 
                                    type="text" 
                                    label={adoptedPublicationTitleQuestion} 
                                    onchange={adoptedPublicationTitleOnChange} 
                                    onblur={adoptedPublicationTitleOnBlur} 
                                    value={adoptedPublicationTitle}>
                                </lightning-input>
                            </div>
                        </lightning-card> 
                    </div>
                </template>
            </template>

            <!-- ADOPT INTERNATIONAL PUBLICATIONS SCREEN 2 -->
            <template if:true={adoptInternationalPublicationsScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={adoptionIdenticalOrModifyContentChoices}>
                        <template if:true={adoptionIdenticalOrModifyContentChoices.data}>
                            <lightning-radio-group 
                                name="adoption-identical-or-modify-content"
                                class="adoption-identical-or-modify-content"
                                variant={adoptionIdenticalOrModifyContentLabelVariant}
                                label={adoptionIdenticalOrModifyContentQuestion}
                                value={adoptionIdenticalOrModifyContent}
                                options={adoptionIdenticalOrModifyContentChoices.data.values}
                                onchange={handleAdoptionIdenticalOrModifyContentOnChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <div if:true={adoptionIdenticalOrModifyContent} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="why-publication-be-adopted-in-australia-reason" 
                        class="why-publication-be-adopted-in-australia-reason" 
                        label={whyPublicationBeAdoptedInAustraliaQuestion} 
                        value={whyPublicationBeAdoptedInAustraliaReason}
                        onchange={whyPublicationBeAdoptedInAustraliaReasonOnChange}
                        onblur={whyPublicationBeAdoptedInAustraliaReasonOnBlur}
                        variant={whyPublicationBeAdoptedInAustraliaReasonLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <template if:true={isAdoptionModifiedContent}>
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                        <lightning-textarea 
                            name="why-cannot-adopted-identically-current-international-standard-reason" 
                            class="why-cannot-adopted-identically-current-international-standard-reason" 
                            label={whyCannotAdoptedIdenticallyCurrentInternationalStandardQuestion} 
                            value={whyCannotAdoptedIdenticallyCurrentInternationalStandardReason}
                            onchange={whyCannotAdoptedIdenticallyCurrentInternationalStandardReasonOnChange}
                            onblur={whyCannotAdoptedIdenticallyCurrentInternationalStandardReasonOnBlur}
                            variant={whyCannotAdoptedIdenticallyCurrentInternationalStandardReasonLabelVariant}
                            required>
                        </lightning-textarea>
                    </div>
    
                    <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                        <lightning-textarea 
                            name="proposed-variations" 
                            class="proposed-variations" 
                            label={proposedVariationsQuestion} 
                            value={proposedVariations}
                            onchange={proposedVariationsOnChange}
                            onblur={proposedVariationsOnBlur}
                            variant={proposedVariationsLabelVariant}
                            required>
                        </lightning-textarea>
                    </div>
                </template>
            </template>

            <!-- ADD MORE PROPOSAL SCREEN -->
            <template if:true={addMoreProposalScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={addMoreProjectsChoices}>
                        <template if:true={addMoreProjectsChoices.data}>
                            <lightning-radio-group 
                                name="add-more-projects"
                                class="add-more-projects"
                                variant={addMoreProjectsLabelVariant}
                                label={addMoreProjectsQuestion}
                                value={willAddMoreProjects}
                                options={addMoreProjectsChoices.data.values}
                                onchange={handleAddMoreProjectsChange}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>
            </template>

            <!-- NET BENEFIT SCREEN 1 -->
            <template if:true={netBenefitScreen1}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="Net_Benefit_Public_and_health_safety__c" 
                        class="benefits-to-australian-community-public-health-and-safety" 
                        label={benefitsToAustralianCommunityPublicHealthAndSafetyQuestion} 
                        value={proposalRecord.Net_Benefit_Public_and_health_safety__c}
                        onchange={handleProposalInput}
                        onblur={handleProposalInput}
                        variant={benefitsToAustralianCommunityPublicHealthAndSafetyLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="Net_Benefit_Social_and_community_impact__c" 
                        class="benefits-to-australian-community-social-and-community-impact" 
                        label={benefitsToAustralianCommunitySocialAndCommunityImpactQuestion} 
                        value={proposalRecord.Net_Benefit_Social_and_community_impact__c}
                        onchange={handleProposalInput}
                        onblur={handleProposalInput}
                        variant={benefitsToAustralianCommunitySocialAndCommunityImpactLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="Net_Benefit_Environmental_Impact__c" 
                        class="benefits-to-australian-community-environmental-impact" 
                        label={benefitsToAustralianCommunityEnvironmentalImpactQuestion} 
                        value={proposalRecord.Net_Benefit_Environmental_Impact__c}
                        onchange={handleProposalInput}
                        onblur={handleProposalInput}
                        variant={benefitsToAustralianCommunityEnvironmentalImpactLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="Net_Benefit_Competition__c" 
                        class="benefits-to-australian-community-competition" 
                        label={benefitsToAustralianCommunityCompetitionQuestion} 
                        value={proposalRecord.Net_Benefit_Competition__c}
                        onchange={handleProposalInput}
                        onblur={handleProposalInput}
                        variant={benefitsToAustralianCommunityCompetitionLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
    
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="Net_Benefit_Economic_impact__c" 
                        class="benefits-to-australian-community-economic-impact" 
                        label={benefitsToAustralianCommunityEconomicImpactQuestion} 
                        value={proposalRecord.Net_Benefit_Economic_impact__c}
                        onchange={handleProposalInput}
                        onblur={handleProposalInput}
                        variant={benefitsToAustralianCommunityEconomicImpactLabelVariant}
                        required>
                    </lightning-textarea>
                </div>
            </template>
            

            <!-- NET BENEFIT SCREEN 2 -->
            <template if:true={netBenefitScreen2}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <lightning-textarea 
                        name="Who_has_been_consulted__c" 
                        class="consulted-people" 
                        label={consultedPeopleQuestion} 
                        value={proposalRecord.Who_has_been_consulted__c}
                        onchange={handleProposalInput}
                        onblur={handleProposalInput}
                        variant={consultedPeopleLabelVariant}
                        required>
                    </lightning-textarea>
                </div>

                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small lgc-bg">
                    <c-file-upload 
                        record-id={proposalRecord.Id}
                        card-title="Attachments"
                        card-icon-name="custom:custom19"
                        file-upload-label="Please attach all the files that are related to your proposal">
                    </c-file-upload>
                </div>
            </template>

            <!-- REVIEW ALL PROPOSED PROJECTS SCREEN -->
            <template if:true={reviewAllProposedProjectsScreen}>
                <c-review-proposal-form
                    constants={constants}
                    proposal-record={proposalRecord}
                    projects={projects}
                    questions-map={questionsMap}
                    onupdateproject={handleProjectUpdateEvent}
                    onupdateproposal={handleProposalUpdateEvent}
                    is-edit-mode={isReviewEditMode}>
                </c-review-proposal-form>
            </template>

            <!-- DECLARATION AND PRIVACY NOTICE SCREEN -->
            <template if:true={declarationAndPrivacyNoticeScreen}>
                <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small container-textbox">
                    <template if:true={disclaimerCheckChoices}>
                        <template if:true={disclaimerCheckChoices.data}>
                            <lightning-radio-group 
                                name="disclaimer-check"
                                class="disclaimer-check"
                                label={declarationText}
                                value={disclaimerCheck}
                                options={disclaimerCheckChoices.data.values}
                                onchange={handleDisclaimerCheck}
                                required>
                            </lightning-radio-group>
                        </template>
                    </template>
                </div>

                <template if:true={isDisclaimerDisagree}>
                    <div if:true={doNotAgreeText} class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 slds-p-around_x-small privacy-info disclaimer-container">
                        <lightning-formatted-rich-text 
                            value={doNotAgreeText}>
                        </lightning-formatted-rich-text>
                    </div>
                </template>
            </template>

            <!-- THANK YOU SCREEN -->
            <template if:true={thankYouScreen}>
                <div class="privacy-info">
                    <lightning-formatted-rich-text 
                        value={thankYouText}>
                    </lightning-formatted-rich-text>
                </div>
            </template>

            <!-- NAVIGATION -->
            <div class="slds-size_12-of-12 slds-max-medium-size_12-of-12 slds-large-size_12-of-12 container-textbox">
                <div class="slds-grid slds-wrap slds-p-top_large">
                    <div if:false={proposalScreen} class="slds-p-right_small slds-p-bottom_small">
                        <button class="sd-proposal-btn" onclick={handleBackButton}>
                            Back
                        </button>
                    </div>

                    <template if:false={thankYouScreen}>
                        <!-- <div if:true={proposalScreen} class="slds-p-right_small slds-p-bottom_small">
                            <button class="sd-proposal-btn" onclick={handleCancelProposalButton}>
                                Cancel Proposal
                            </button>
                        </div> -->
    
                        <template if:true={showSaveDraftButton}>
                            <div class="slds-p-right_small slds-p-bottom_small">
                                <button class="sd-proposal-btn" onclick={handleSaveDraftProposalButton}>
                                    Save Draft Proposal
                                </button>
                            </div>
                        </template>

                        <template if:false={showSaveDraftButton}>                        
                            <div class="slds-p-right_small slds-p-bottom_small">
                                <button class="sd-proposal-btn" onclick={handleSaveProposalButton}>
                                    Save Proposal
                                </button>
                            </div>
                        </template>
                        
                        <template if:false={hideNextButton}>
                            <div class="slds-p-right_small slds-p-bottom_small">
                                <button class="sd-proposal-btn" onclick={handleNextButton}>
                                    Next
                                </button>
                            </div>
                        </template>                        
                            
                        <div if:true={declarationAndPrivacyNoticeScreen} class="slds-p-right_small slds-p-bottom_small">
                            <button class="sd-proposal-btn" onclick={handleSubmitProposalButton}>
                                Submit Proposal
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>